body{
    background-image: url('img/fundo.jpg');
    font: 16px Arial, Helvetica, sans-serif;
}

#inicial{
    text-align: center;
    margin: auto;
    width: 920px;
}

#menu {
    background-color:  rgb(0, 0, 0);
    padding: 15px;
    color: rgb(0, 89, 255);
}
a{
    padding: 47px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 89, 255);
}
a:hover{
    color: red;
}
#texto h1{
    margin-right: 20px;
    color: white;
    text-align: center;
}
#texto p{
    color: whitesmoke ;
    text-indent: 2em;
    margin-right: 10px;
    text-align: justify;
    margin-left: 10px;
}
#texto h2{
    color: azure;
}
#texto img{
    width: 700px;
    padding: 2px;
    background: rgb(251, 255, 0);

}
footer{
    text-align: center;
    color: whitesmoke
}